.image{
	max-width: 100%;
	display: block;
}
.img-box{
	column-count: 4;
	column-gap: 0px;
}
.img + .image{
	margin: 6px;
}
.sub-title{
	text-align: center;
	margin-top: 50px;
	padding: 50px;
	font-size: 32px;
	color: purple;
}
main{
	background-color: #FFEB73;
	margin: 20px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 1.0);
	padding: 25px;
}
a{
	color: purple;
}
.caption{
	text-align: center;
	color: purple;
}
.title{
	color: purple;
}
.title2{
	color: purple;
}
@media screen and (max-width: 600px) {
    …
}
@media screen and (max-width: 600px) {
    body {
        font-size:1.5em;
    }
    …
    h2 {
        font-size:2.5em;
    }
}
